.row{
   
    margin-bottom: 34px;
}

.form-check-input{
    margin-left: 14px;
    height: 26px;
    background-color: green;
    width: 60px;
}

.form-switch .form-check-input:checked {
   
    background-color: green;
    }