<div>
  <button type="submit" class="btn btn-success" routerLink="/pages/ui-features/accordion1"><i  class="fa">&#xf067;</i>Add Role</button>
  </div>

<!-- <nb-card> -->
  <!-- <nb-card-header>
    Smart Table
  </nb-card-header> -->

  <!-- <nb-card-body> -->
   
      <!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr No</th>
            <th scope="col">UserRole</th>
            <th scope="col">Status</th>
            
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of UsersRoleList">
            <th scope="row">1</th>
            <td>{{u.name}}</td>
            <td>{{u.status}}</td>
          
            <td>

              <button type="button" class="btn btn-success" (click)="update(u._id)"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
         </tbody>
      </table>
    </div>
  </div>
</div> -->
   
  <!-- </nb-card-body> -->
<!-- </nb-card> -->
